/* 
.custclass {
   display:inherit;
} */

.tradeBad {
    color:red !important;
}
.tradeBad td{
    color:red !important;
}

.tradeGood {
    color:lime !important;
}
.tradeGood td{
    color:lime !important;
}

.tradeNew {
    color:white !important;
}
.tradeNew td{
    color:white !important;
}