<ng-container *ngIf="controlData">
    <div class="col-12" style="margin-top:15px;">
        <mat-form-field *ngIf="controlData.topBinanceTickers" class = "matFormSpace">
            <mat-select [(ngModel)]="controlData.chosenTicker" [value]="controlData.chosenTicker" placeholder="Tickers">
                <ng-container *ngFor="let ticker of controlData.topBinanceTickers.tickers">
                    <mat-option  value="{{ticker.symbol}}" class="darkOption">
                            
                            <span [ngClass]="{'tickerBad':ticker.priceChangePercent<=0,'tickerGood':ticker.priceChangePercent>0}"><span >{{ticker.symbol}}</span>  {{ticker.priceChangePercent}} </span>
                      
                    </mat-option>
    
    
                </ng-container>
            </mat-select>
        </mat-form-field>
    
        <button mat-button  (click)="chooseTicker()" class="matFormSpace" style="background-color:white;color:black" >Set Ticker</button>
    
        <mat-form-field *ngIf="controlData.strategyList" class = "matFormSpace">
            <mat-select [(ngModel)]="controlData.chosenStrategy" [value]="controlData.chosenStrategy" placeholder="Strategies" >
                <ng-container *ngFor="let strategy of controlData.strategyList">
                    <mat-option  value="{{strategy}}" class="darkOption">{{strategy}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field  class = "matFormSpace">
            <mat-select [(ngModel)]="controlData.chosenTime" [value]="controlData.chosenTime" placeholder="Time">
                <ng-container *ngFor="let time of controlData.timeList" >
                    <mat-option  value="{{time}}" class="darkOption">{{time}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    
        <button mat-button style="background-color:white;color:black" (click)="strategyLoop()">Start Strategy</button>
    </div>
    
    <div class="col-12 controlLine">
        <mat-form-field class="matFormSpace">
            <input matInput placeholder="Chosen Ticker" [(ngModel)]="controlData.chosenTickerAny">
        </mat-form-field>
        <button mat-button  (click)="controlData.sortTickersByVolume()"   class="matFormSpace"  style="background-color:white;color:black" >Volume Sort</button>
        <button mat-button  (click)="controlData.sortTickersByChange()" class="matFormSpace" style="background-color:white;color:black" >Change Sort</button>
        <button mat-button  (click)="controlData.sortTickersByVolumeChange()" class="matFormSpace" style="background-color:white;color:black" >Both Sort</button>
        <button mat-button  (click)="controlData.sortTickerByCustom()"  style="background-color:white;color:black" >Custom Sort</button>
        <h1 *ngIf="controlData.isNextTickTimerStarted" class="timer">Next Open: <span [ngClass]="{'high':controlData.nextTickTimer<=30 && controlData.nextTickTimer>10,'low':controlData.nextTickTimer<=10}">{{controlData.nextTickTimer.toFixed(2)}}(s)</span></h1>
    </div>
    
    
    <div class="col-12 controlLine" style="color:white" >
        
    </div>
    
    <div *ngIf="highChartObj" [chart]="highChartObj"></div>
    
    <app-evaled-data *ngIf="highChartObj && controlData && controlData.evaled && controlData.evaled.length>0" [evaled]=controlData.evaled [parent]=this></app-evaled-data>
    
</ng-container>
