<div *ngIf="controlData"  class="col-12">
    <mat-form-field *ngIf="controlData.topBinanceTickers" class = "matFormSpace">
        <mat-select [(ngModel)]="controlData.chosenTicker" [value]="controlData.chosenTicker" placeholder="Tickers">
            <ng-container *ngFor="let ticker of controlData.topBinanceTickers.tickers">
                <mat-option  value="{{ticker.symbol}}" class="darkOption">
                        
                        <span [ngClass]="{'tickerBad':ticker.priceChangePercent<=0,'tickerGood':ticker.priceChangePercent>0}"><span >{{ticker.symbol}}</span>  {{ticker.priceChangePercent}} </span>
                  
                </mat-option>


            </ng-container>
        </mat-select>
    </mat-form-field>

    <button mat-button  (click)="chooseTicker()" class="matFormSpace" style="background-color:white;color:black" >Set Ticker</button>

    <mat-form-field *ngIf="controlData.strategyList" class = "matFormSpace">
        <mat-select [(ngModel)]="controlData.chosenStrategy" [value]="controlData.chosenStrategy" placeholder="Strategies" >
            <ng-container *ngFor="let strategy of controlData.strategyList">
                <mat-option  value="{{strategy}}" class="darkOption">{{strategy}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <mat-form-field  class = "matFormSpace">
        <mat-select [(ngModel)]="controlData.chosenTime" [value]="controlData.chosenTime" placeholder="Time">
            <ng-container *ngFor="let time of controlData.timeList" >
                <mat-option  value="{{time}}" class="darkOption">{{time}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <button mat-button style="background-color:white;color:black" (click)="startStrategy()">Start Strategy</button>
</div>

<div *ngIf="controlData"  class="col-12 controlLine">
    <mat-form-field class="matFormSpace">
        <input matInput placeholder="Chosen Ticker" [(ngModel)]="controlData.chosenTickerAny">
    </mat-form-field>
    <button mat-button  (click)="controlData.sortTickersByVolume()"   class="matFormSpace"  style="background-color:white;color:black" >Volume Sort</button>
    <button mat-button  (click)="controlData.sortTickersByChange()" class="matFormSpace" style="background-color:white;color:black" >Change Sort</button>
    <button mat-button  (click)="controlData.sortTickersByVolumeChange()" class="matFormSpace" style="background-color:white;color:black" >Both Sort</button>
    <button mat-button  (click)="controlData.sortTickerByCustom()"  style="background-color:white;color:black" >Custom Sort</button>
</div>



<div *ngIf="highChartObj" [chart]="highChartObj"></div>

<app-evaled-data *ngIf="highChartObj && controlData && controlData.evaled && controlData.evaled.length>0" [evaled]=controlData.evaled [parent]=this></app-evaled-data>

<!-- <div *ngIf="controlData && controlData.evaled && controlData.evaled.length>0"  class="col-12">
    <table mat-table [dataSource]="controlData.evaled">

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Count </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.count}} </td>
        </ng-container>

        <ng-container matColumnDef="sellIndex">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Sell Index </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.sellIndex}} </td>
        </ng-container>

        <ng-container matColumnDef="buyLow">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Buy Low </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.buyLow}} </td>
        </ng-container>

        <ng-container matColumnDef="sellLow">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Sell Low </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.sellLow}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Amount </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="low">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Low </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.low}} </td>
        </ng-container>
        
        <ng-container matColumnDef="lowTotal">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Low Total </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.lowTotal}} </td>
        </ng-container>

        <ng-container matColumnDef="normal">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Normal </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.normal}} </td>
        </ng-container>
        
        <ng-container matColumnDef="normalTotal">
            <th mat-header-cell *matHeaderCellDef class = "custclass"> Normal Total </th>
            <td mat-cell *matCellDef="let element" class = "custclass"> {{element.normalTotal}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="controlData.evaledColumns" class = "custclass"></tr>
        <tr mat-row *matRowDef="let row; columns: controlData.evaledColumns;" class = "custclass"></tr>
    </table>
</div> -->

<!-- <chart type="StockChart" [options]="highChartStockData"></chart> -->

<!-- <ejs-chart id='chartcontainer' 
[chartArea]='chartArea' 
[width]='width' 
align='center' 
style="display:block;"
 [title]='title' 
 [primaryXAxis]='primaryXAxis'
  [primaryYAxis]='primaryYAxis' 
  [tooltip]='tooltip' 
  [crosshair] = 'crosshair' 
  [legendSettings]='legendSettings'
  (load)='load($event)'>
  <e-series-collection>
      <e-series [dataSource]='stockData' type='Hilo' xName='x' high='high' low='low' [marker]='marker'name='Apple Inc'> </e-series>
  </e-series-collection>
</ejs-chart> -->